@import "../../index.scss";

.hero {
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(
      rgba(77, 204, 229, 0.5),
      rgba(255, 255, 255, 0.05)
    ),
    url("../../../assets/photos/hero-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  > div {
    //border: 1px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: left;
    font-family: $book;

    h1 {
      font-size: 5rem;
      margin: 0;
      position: relative;
      left: -12px;
    }

    h2 {
      font-size: 2rem;
      margin: 10px 0;
    }

    p {
      font-size: 1.5rem;
      max-width: 35em;
      margin: 10px 0;
    }

    // Buttons
    > div {
      //border: 1px solid red;
      display: flex;
      position: relative;
      top: 20px;

      a {
        display: block;
        margin-right: 10px;
        width: 200px;
        font-size: 1.5rem;
        text-align: center;
        text-decoration: none;
        padding: 10px 25px;
        border: none;
        border-radius: 10px;
        color: $black;
        transition: all 0.25s ease;

        &:first-of-type {
          background-color: $yellow;
        }

        &:nth-of-type(2) {
          border: 2px solid $black;
          background-color: transparent;
        }

        &:hover {
          background-color: $black;
          color: white;
          border: 2px solid $black;
        }
      }
    }

    @media only screen and (max-width: 1000px) {
      width: 90%;
      //max-width: 25em;

      h1 {
        font-size: 4rem;
      }

      h2 {
        font-size: 1.5rem;
      }

      p {
        font-size: 1.25rem;
      }
      > div {
        a {
          font-size: 1.25rem;
        }
      }
    }

    @media only screen and (max-width: 500px) {
      h1 {
        font-size: 3rem;
      }

      h2 {
        font-size: 1.5rem;
      }

      > div {
        flex-direction: column;

        a {
          margin-bottom: 10px;
        }
      }
    }
  }
}
