// Media queries
@mixin phone {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 769px) and (max-width: 1023px) {
    @content;
  }
}

@mixin tablet-landcape {
  @media only screen and (min-width: 1024px) and (max-width: 1199px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1200px) and (max-width: 1799px) {
    @content;
  }
}

@mixin big-desktop {
  @media only screen and (min-width: 1800px) {
    @content;
  }
}

// Colors
$blue: rgb(77, 204, 229);
$yellow: rgb(253, 200, 30);
$green: rgb(0, 169, 157);
$red: rgb(232, 89, 46);

$black: rgb(32, 32, 32);
$gray: rgb(111, 114, 135);
$light-gray: rgb(211, 211, 211);

.banner {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-image: none;
  background-size: cover;
  background-position: center;
  overflow: hidden;

  #videobanner {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: auto;
    // object-fit: cover;
  }

  .inner {
    text-align: center;
    width: 90%;
  }

  h1,
  h3,
  a {
    color: white;
  }

  h1 {
    @include phone {
      font-size: 4rem;
    }
  }


  @include tablet-landcape {
    height: 50vh;
  }

  @include tablet() {
    height: 40vh;
  }

  @include phone {
    height: 40vh;

    #videobanner {
      display: none;
    }

    background-image: url("../../../assets/poster.png");

  }
}
