// Media queries
@mixin phone {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 769px) and (max-width: 1023px) {
    @content;
  }
}

@mixin tablet-landcape {
  @media only screen and (min-width: 1024px) and (max-width: 1199px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1200px) and (max-width: 1799px) {
    @content;
  }
}

@mixin big-desktop {
  @media only screen and (min-width: 1800px) {
    @content;
  }
}

// Colors
$blue: rgb(77, 204, 229);
$yellow: rgb(253, 200, 30);
$green: rgb(0, 169, 157);
$red: rgb(232, 89, 46);

$black: rgb(32, 32, 32);
$gray: rgb(111, 114, 135);
$light-gray: rgb(211, 211, 211);

// Parent container (all page content goes here, except for nav and footer)
@mixin section-container {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 100px;
  margin-top: 5rem;

  @include phone {
    width: 90%;
    margin-top: 3rem;
  }

  @include tablet {
    width: 80%;
    margin-top: 4rem;
  }
  @include tablet-landcape {
    width: 80%;
  }
  @include big-desktop {
    width: 60%;
    padding: 250px 0;
  }
}

// Event list

.event-list {
  @include section-container;
  display: flex;
  flex-direction: column;
  align-items: center;


  h3 {
    padding: 25px 0 50px;
  }

  > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  a {
    padding: 25px 0 0;
    font-family: "CircularStd-Medium", sans-serif;
    font-size: 1.5rem;
    color: $black;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
      outline: none;
    }
  }
}

// Event list item

.event-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  width: 48%;

  @include phone {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
    max-width: 30em;
  }

  @include tablet {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
    max-width: 35em;
 
  }

  @include tablet-landcape {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
    max-width: 35em;
    
  }

  @include big-desktop {
    width: 30%;
    max-width: 35em;
  }

  > div {
    width: 100%;
  }

  .text {
    padding: 25px;
    line-height: 1;

    h3 {
      padding: 5px 0;
    }

    .date {
      font-size: 1.25rem;
      text-transform: uppercase;
      color: $red;
      margin: 0;
    }

    .address {
      font-size: 1.25rem;
      color: $gray;
      font-size: 1rem;
      line-height: 1;
      margin: 0;
    }
  }

  // Box shadow
  box-shadow: 0 0 10px $light-gray;
  &:hover {
    box-shadow: 0 0 30px $light-gray;
  }
  transition: all 0.3s ease-in;
}
