@mixin phone {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 769px) and (max-width: 1023px) {
    @content;
  }
}

$blue: rgb(77, 204, 229);
$yellow: rgb(253, 200, 30);
$green: rgb(0, 169, 157);
$red: rgb(232, 89, 46);
$black: rgb(32, 32, 32);

.whitepaper {
  position: relative;
  width: 100%;
  min-height: 65vw;
  overflow: hidden;

  .layer {
    position: absolute;
    width: 100vw;
    min-height: 65vw;
    overflow: hidden;

    .content-wrap {
      position: absolute;
      width: 100vw;
      min-height: 65vw;
    }

    .body {
      position: absolute;
      margin-left: 15vw;

      top: 20%;
      text-align: left;
      transform: translateY(-50%);

      h3 {
        font-family: "CircularStd-Bold", sans-serif;
        font-size: 2.5rem;
      }

      p {
        font-family: "CircularStd-Book", sans-serif;
      }

      a {
        font-size: 1.25rem;
        font-family: "CircularStd-Book", sans-serif;
        text-decoration: underline;
        color: $black;
        cursor: pointer;

        &:hover {
          text-decoration: none;
          color: $black;
          outline: none;
        }
      }
    }

    img {
      position: absolute;
      width: 55%;
      max-width: 40em;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .bottom {
    background-color: rgba(77, 204, 229, 0.25);
    z-index: 1;
  }

  .top {
    background-color: white;
    z-index: 2;
    width: 50vw;
  }

  .handle {
    position: absolute;
    height: 100%;
    display: block;
    background-color: $yellow;
    width: 0;
    top: 0;
    left: 50%;
    z-index: 3;
  }
}

.skewed {
  .handle {
    top: 50%;
    transform: rotate(40deg) translateY(-50%);
    height: 200%;
    transform-origin: top;
  }

  .top {
    transform: skew(-40deg);
    margin-left: -1000px;
    width: calc(50vw + 1000px);

    .content-wrap {
      transform: skew(40deg);
      margin-left: 1000px;
    }
  }
}
