// Media queries
@mixin phone {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 769px) and (max-width: 1023px) {
    @content;
  }
}

@mixin tablet-landcape {
  @media only screen and (min-width: 1024px) and (max-width: 1199px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1200px) and (max-width: 1799px) {
    @content;
  }
}

@mixin big-desktop {
  @media only screen and (min-width: 1800px) {
    @content;
  }
}

.qna {
  border: none;
  border-radius: 0;
  margin-bottom: 5px;
}

.question {
  border: none;
}

.answer {
  background-color: none;
}
