// Media queries
@mixin phone {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 769px) and (max-width: 1023px) {
    @content;
  }
}

@mixin tablet-landcape {
  @media only screen and (min-width: 1024px) and (max-width: 1199px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1200px) and (max-width: 1799px) {
    @content;
  }
}

@mixin big-desktop {
  @media only screen and (min-width: 1800px) {
    @content;
  }
}

// Parent container (all page content goes here, except for nav and footer)
@mixin parent-container {
  width: 70%;
  margin: 0 auto;
  padding: 50px 0;

  @include phone {
    width: 90%;
  }

  @include tablet {
    width: 80%;
  }
  @include tablet-landcape {
    width: 80%;
  }
  @include big-desktop {
    width: 60%;
    padding: 250px 0;
  }
}

main {
  @include parent-container;
}

// Our team page styles
.our-team {
  display: flex;
  flex-direction: column;

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;

    // Teammate component styles
    > div {
      width: 30%;
      max-width: 25em;
      padding: 50px 25px;

      @include phone {
        width: 100%;
      }

      @include tablet {
        width: 50%;
      }

      @include big-desktop {
        width: 20%;
      }

      img {
        width: 100%;
      }

      .text {
        padding: 25px 0 5px;
        h4 {
          font-family: "CircularStd-Black", sans-serif;
        }

        p {
          font-size: 1.5rem;
        }
      }

      .social-links {
        display: flex;
        align-items: center;
        > div {
          margin-right: 25px;
          // Letter icon
          &:first-child {
            width: 50px;
          }
          // Linkedin icon
          &:nth-child(2) {
            width: 35px;
          }
        }
      }
    }
  }
}
