@import "../../index.scss";

.container {
  @include container;
  @include page-transitions;
  padding: 100px 0 50px;

  // Header
  header {
    display: flex;
    align-items: center;
    padding: 25px 0 50px;

    h2 {
      font-family: $medium;
      font-size: 3rem;

      @include phone {
        font-size: 2rem;
      }

      @include big-desktop {
        font-size: 3.5rem;
      }
    }
  }

  // Text
  p {
    font-size: 1.25rem;
    line-height: 1.5;

    @include phone {
      font-size: 1.15rem;
    }

    @include big-desktop {
      font-size: 1.5rem;
    }
  }

  // Bottom link
  a {
    display: block;
    margin: 50px auto;
    text-align: center;
    font-family: $book;
    font-size: 1.5rem;
    color: $black;
    text-decoration: underline;
    transition: all 0.25s ease;

    &:hover {
      text-decoration: none;
      color: $yellow;
    }

    @include phone {
      margin: 25px auto;
      font-size: 1.25rem;
    }
  }
}
