@import "../index.scss";

.container {
  @include container;
  @include page-transitions;
  padding: 100px 0;

  // Header
  header {
    display: flex;
    flex-direction: column;

    h2 {
      font-family: $medium;
      font-size: 3.5rem;
      padding: 50px 0;

      @include phone {
        font-size: 3rem;
      }

      @include big-desktop {
        font-size: 3.5rem;
      }
    }

    p {
      font-size: 1.25rem;
      padding: 0 0 25px;
    }
  }

  // Toolbar
  .toolbar {
    ul {
      padding: 0;
      list-style: none;
      display: flex;

      li {
        font-family: $medium;
        font-size: 1.25rem;
        margin-right: 10px;
        border: 1px solid #e5e5e5;
        border-radius: 10px;
        box-shadow: 5px 5px 50px #f5f5f5;
        padding: 5px 10px;
        cursor: pointer;
        transition: box-shadow 0.5s ease;
        transition: color 0.25s ease;

        &:hover {
          box-shadow: 0 2px 14px #d3d3d3;
          color: $yellow;
        }
      }
    }
  }

  // Events
  .list {
    width: 100%;

    .item {
      width: 100%;
      display: flex;
      max-width: 60em;
      margin: 50px auto;
      border: 1px solid #e5e5e5;
      border-radius: 10px;
      box-shadow: 5px 5px 50px #f5f5f5;
      padding: 25px 10px;
      overflow: hidden;
      transition: all 0.5s ease;
      &:hover {
        box-shadow: 0 2px 14px #d3d3d3;
      }

      // Visual
      aside {
        width: 100%;
        display: flex;

        img {
          width: 100%;
          border-radius: 10px;
          overflow: hidden;
        }
      }

      > div {
        padding: 10px 25px;

        .date {
          font-family: $book;
          font-size: 1rem;
          color: #a9a9a9;
          margin: 0;
        }

        .title {
          font-family: $medium;
          font-size: 1.25rem;
          line-height: 1;
          margin: 5px 0;
        }

        .text {
          padding: 5px 0;
        }

        a {
          color: $black;
          font-family: $medium;
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}
