@import "../index.scss";

.container {
  @include container;
  @include page-transitions;
  padding: 100px 0 50px;

  header {
    display: flex;
    align-items: center;

    h2 {
      font-family: "CircularStd-Medium", sans-serif;
      font-size: 3.5rem;
      padding: 50px 0;

      @include phone {
        font-size: 3rem;
      }

      @include big-desktop {
        font-size: 3.5rem;
      }
    }

    > div {
      width: 250px;
      margin-left: 50px;

      @include phone {
        width: 200px;
        margin-left: 5px;
      }
    }
  }

  p {
    font-size: 1.25rem;
    line-height: 1.5;

    @include big-desktop {
      font-size: 1.5rem;
    }
  }
}

.visual {
  @include page-transitions;
  width: 80%;
  max-width: 80em;
  margin: 0 auto;
  padding: 25px 0 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  > div:first-of-type {
    width: 35%;
  }

  > div:nth-of-type(2) {
    img:first-of-type {
      display: none;
    }
    width: 10%;
    padding: 0 25px;
  }

  > div:nth-of-type(3) {
    width: 35%;
  }

  @include tablet {
    width: 80%;
  }

  @include phone {
    width: 100%;
    flex-direction: column-reverse;

    > div:first-of-type {
      width: 70%;
    }
    > div:nth-of-type(2) {
      width: 30%;
      img:first-of-type {
        display: block;
      }
      img:nth-of-type(2) {
        display: none;
      }
    }

    > div:nth-of-type(3) {
      display: none;
    }
  }
}
