@import "../index.scss";

header.header {
  @include container;
  padding: 100px 0 0;
  @include phone {
    padding: 50px 0 0;
  }
  display: flex;
  align-items: center;

  h2 {
    @include page-title;
  }

  .illustrationTop {
    width: 100px;
    @include phone {
      width: 75px;
    }
    margin-left: 50px;
    position: relative;
    top: -25px;
    z-index: -1;
  }
}

main.ourstory {
  @include container;
}

.illustrationBottom {
  width: 90%;
  max-width: 80em;
  margin: 0 auto;
  padding: 25px 0 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  > div:first-of-type {
    width: 35%;
  }
  > div:nth-of-type(2) {
    img:first-of-type {
      display: none;
    }
    width: 10%;
    padding: 0 25px;
  }
  > div:nth-of-type(3) {
    width: 35%;
  }

  @include phone {
    flex-direction: column-reverse;

    > div:first-of-type {
      width: 50%;
    }
    > div:nth-of-type(2) {
      width: 25%;
      img:first-of-type {
        display: block;
      }
      img:nth-of-type(2) {
        display: none;
      }
    }

    > div:nth-of-type(3) {
      display: none;
    }
  }
}
