@import "../index.scss";

.container {
  @include container;
  padding: 100px 0 50px;

  header {
    display: flex;
    align-items: center;

    h2 {
      font-family: "CircularStd-Medium", sans-serif;
      font-size: 3rem;
    }

    p {
      font-family: "CircularStd-Medium", sans-serif;
      color: $green;
      font-size: 2rem;
    }

    @include tablet {
      h2 {
        font-size: 5.5vw;
      }
      p {
        font-size: 3.5vw;
      }
    }

    @include phone {
      h2 {
        font-size: 7vw;
      }

      p {
        font-size: 4vw;
      }
    }

    > div:nth-of-type(2) {
      z-index: -10;
      width: 400px;
      margin-left: 100px;
      position: relative;

      @include tablet {
        margin-left: 50px;
        top: 0;
      }

      @include phone {
        width: 45vw;
        margin-left: 0px;
        top: 10px;
      }
    }
  }
}

.teammates {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 0;

  @include phone {
    justify-content: space-around;
  }

  @include tablet {
    justify-content: space-around;
  }
}

.boardmembers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 0;

  @include phone {
    justify-content: space-around;
  }

  @include tablet {
    justify-content: space-around;
  }

  .links {
    a:first-child {
      display: none;
    }
  }
}

.card,
i {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border: 1px solid #dcdcdc;
  box-shadow: 5px 5px 5px #f3f3f3;
  border-radius: 2px;
  background-color: white;
  margin: 25px 10px;

  @include phone {
    width: 80%;
    max-width: 17em;
  }

  @include tablet {
    width: 50%;
    max-width: 22em;
  }

  @include tablet-landscape {
    width: 30%;
  }

  @include desktop {
    width: 30%;
  }

  @include big-desktop {
    width: 25%;
  }

  .info {
    padding: 10px 5px;
  }

  h4 {
    font-family: "Calibri-Bold", sans-serif;
    font-size: 1.25rem;
    line-height: 1;
  }

  p {
    font-size: 1.25rem;
    line-height: 1;
  }

  .links {
    display: flex;
    align-items: flex-start;
    padding: 0;
    > a {
      margin-right: 15px;
      // Letter icon
      &:first-child {
        width: 30px;
      }

      // Linkedin icon
      &:nth-child(2) {
        width: 20px;
      }
    }
  }
}

i {
  border: none;
  box-shadow: none;
  border-radius: none;

  @include phone {
    display: none;
  }
}

.illustrations {
  width: 60%;
  margin: 0 auto;
  display: flex;
}
