$yellow-color: rgb(253, 200, 30);
$black-color: #202020;

@mixin phone {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    @content;
  }
}

@mixin tablet-landcape {
  @media only screen and (min-width: 1024px) and (max-width: 1200px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1200px) and (max-width: 1800px) {
    @content;
  }
}

@mixin big-desktop {
  @media only screen and (min-width: 1800px) {
    @content;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
