// mainStyles.scss

$yellow-color: rgb(253, 200, 30);
$black-color: rgb(32, 32, 32);
$red-color: #dc3545;
$gray-color: rgb(111, 114, 135);
$light-gray-color: #d3d3d3;

@mixin phone {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    @content;
  }
}

@mixin tablet-landcape {
  @media only screen and (min-width: 1024px) and (max-width: 1200px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1200px) and (max-width: 1800px) {
    @content;
  }
}

@mixin big-desktop {
  @media only screen and (min-width: 1800px) {
    @content;
  }
}

/*--------------EventList---------------*/

.event-list {
  padding: 50px 0;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .inner {
    width: 90%;
    padding: 50px 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  a {
    font-family: "CircularStd-Medium", sans-serif;
    font-size: 1.5rem;
    color: $black-color;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
      outline: none;
    }
  }
}

/*--------------EventListItem---------------*/
.event-list-item {
  box-shadow: 0 0 10px $light-gray-color;
  &:hover {
    box-shadow: 0 0 30px $light-gray-color;
  }
  transition: all 0.3s ease-in;

  width: 32%;

  @include tablet {
    width: 48%;
  }

  @include phone {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  max-width: 30em;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;

  > div {
    width: 100%;
  }

  .image {
    margin-bottom: 25px;
  }

  .text {
    h3,
    p {
      margin-bottom: 15px;
    }
    p {
      font-size: 1.25rem;
    }

    .date {
      color: $red-color;
    }

    .address {
      color: $gray-color;
    }

    h3 {
      text-align: left;
    }
  }
}
