@mixin phone {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    @content;
  }
}

@mixin tablet-landcape {
  @media only screen and (min-width: 1024px) and (max-width: 1200px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1200px) and (max-width: 1800px) {
    @content;
  }
}

@mixin big-desktop {
  @media only screen and (max-width: 1800px) {
    @content;
  }
}

.logo-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .logo {
    width: 25%;
    padding: 25px;
  }

  @include desktop() {
    width: 70%;
    max-width: 60em;
  }

  @include tablet-landcape() {
    width: 80%;
    .logo {
      width: 30%;
    }
  }

  @include tablet {
    width: 80%;
    .logo {
      width: 30%;
    }
  }

  @include phone {
    width: 90%;
    .logo {
      width: 50%;
      max-width: 20em;
      padding: 35px;
    }
  }
}
