@mixin phone {
  @media only screen and (max-width: 1000px) {
    @content;
  }
}

$blue: rgb(77, 204, 229);
$yellow: rgb(253, 200, 30);
$green: rgb(0, 169, 157);
$red: rgb(232, 89, 46);

/*
  Nav desktop
  */

.nav {
  // box-shadow: 5px 5px 5px #f0f0f0;
  transition: background-color 0.5s ease;
  z-index: 30;

  &:hover {
    box-shadow: none;
    background-color: $yellow;
  }

  @include phone {
    // no hover effect on mobile
    &:hover {
      box-shadow: none;
      background-color: white;
    }
  }

  .nav-container {
    // children elements: div.logo, nav, div.search, div.toggle

    width: 90%;
    margin: 0 auto;
    // added side margins to main container

    display: flex;
    align-items: center;
    // vertically aligned, horisontal alignment is taken care of by els width

    @include phone {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  // The Shortcut logo
  .logo {
    // border: 1px solid;
    width: 150px;

    img {
      width: 100%;
    }

    .logo-mobile {
      display: none;
    }

    @include phone {
      width: 100px;

      .logo-desktop {
        display: none;
      }

      .logo-mobile {
        display: block;
      }

      height: 100px;
      padding: 0 25px;
      display: flex;
      align-items: center;
      justify-content: center;

      // add mobile logo version?
    }
  }

  // Search icon
  .search {
    // border: 1px solid;
    width: 35px;

    img {
      width: 100%;
    }

    @include phone {
      display: none;
    }
  }

  nav {
    // children elements: ul.menu
    // border: 1px solid red;
    width: calc(100% - 200px);
    // full width - logo + search icon width
    padding: 0;
  }

  ul.menu {
    // parent menu list
    // children elements: li.submenu (x5)
    // same width as nav, takes up full container
    // border: 1px solid blue;
    margin: 0;
    padding: 0;
    display: flex;

    li.submenu {
      margin: 0 25px;
      height: 100px;
      width: auto;
      // fixed width?
      display: flex;
      align-items: center;
      justify-content: center;

      .submenu-btn {
        // border: 1px solid red;
        text-decoration: none;
        color: rgb(32, 32, 32);
        cursor: pointer;
        font-size: 1rem;
        font-family: "CircularStd-Book", sans-serif;
        padding: 0;
      }
    }
  }

  /*
    Nav mobile
    */

  @include phone {
    .nav-container {
      width: 100%;
    }

    nav {
      width: 100%;
    }

    ul.menu {
      display: none;

      &.active {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: auto;
      }

      li.submenu {
        border-bottom: 1px solid #f0f0f0;
        flex-direction: column;
        height: auto;
        width: auto;
        align-items: flex-start;
        margin: 0;

        .submenu-btn {
          font-size: 1.25rem;
          padding: 25px;
        }
      }
    }
  }

  /*
  Subnav desktop
  */

  .submenu-list {
    border-bottom: 1px solid #d3d3d3;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0;
    position: absolute;
    left: 0;
    top: 100px;
    //height of main nav

    background-color: white;

    transform: scaleY(0);
    transform-origin: 50% 0;
    transition: all 0.1s linear 0.05s;
  }

  .submenu {
    &:hover {
      .submenu-list {
        transform: scaleY(1);
      }
    }
  }

  .link {
    // contains img div + a
    // border: 1px solid chartreuse;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
    margin: 0 25px;
    cursor: pointer;
    width: 175px;
    font-family: "CircularStd-Book", sans-serif;

    > div {
      // img div
      // border: 1px solid rgb(232, 89, 46);
      width: 70%;
      margin: 0 auto;

      img {
        width: 100%;
      }

      @include phone {
        display: none;
      }
    }

    a {
      font-family: "CircularStd-Book", sans-serif;
      font-size: 1rem;
      text-decoration: none;
      color: rgb(32, 32, 32);
    }

    @include phone {
      padding: 0;
      height: auto;
      width: 100%;
    }
  }

  /*
    Subnav mobile
    */

  @include phone {
    .submenu-btn {
      font-size: 1.5rem;
    }

    .submenu-list {
      flex-direction: column;
      justify-content: flex-start;
      overflow: hidden;
      position: relative;
      height: 0;
      // use height 0/ height auto to open/close subnav, touch events
      top: 0;
      transform: scaleY(1);
    }

    .link {
      display: block;
      font-size: 1.25rem;
      padding: 25px;
    }
  }

  // Toggle button with animated hamburger
  .toggle {
    // border: 1px solid cyan;
    position: fixed;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;

    display: none;
    @include phone {
      display: flex;
      align-self: center;
      justify-content: center;

      .hamburger {
        width: 35%;
        height: 2px;
        background: black;
        border-radius: 1px;
        transition: 0.5s;
        position: relative;
        top: 50px;

        &:before,
        &:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          background: black;
          border-radius: 1px;
          transition: 0.5s;
        }

        &:before {
          top: -14px;
        }

        &:after {
          top: 14px;
        }
      }

      &.active .hamburger {
        background: rgba(0, 0, 0, 0);
      }

      &.active .hamburger:before {
        top: 0;
        transform: rotate(45deg);
      }

      &.active .hamburger:after {
        top: 0;
        transform: rotate(135deg);
      }
    }
  }
}
