@import "../../index.scss";

.container {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 75px 0 50px;

  // Header
  header {
    @include container;
    text-align: center;
    p {
      &:first-of-type {
        font-family: $medium;
        font-size: 2rem;
        @include phone {
          font-size: 1.5rem;
        }
      }
      &:nth-of-type(2) {
        font-family: $book;
        font-size: 1.25rem;
      }
    }
  }

  // Container with logos
  > div {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    a {
      display: block;
      width: 20%;
      padding: 25px;
      transform: scale(1);
      transition: transform 0.5s;

      &:hover {
        transform: scale(1.25);
      }
    }

    @include phone {
      width: 90%;
      justify-content: space-around;
      a {
        width: 50%;
        max-width: 15em;
        padding: 35px;
      }
    }

    @include tablet {
      a {
        width: 30%;
      }
    }

    @include tablet-landscape {
      a {
        width: 25%;
      }
    }

    @include big-desktop {
      flex-wrap: nowrap;
    }
  }

  // Bottom link
  a {
    font-size: 1.5rem;
    font-family: "CircularStd-Book", sans-serif;
    padding: 50px 0;
    color: $black;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
    @include phone {
      font-size: 1.25rem;
    }
  }
}
