// Media queries
@mixin phone {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 769px) and (max-width: 1023px) {
    @content;
  }
}

@mixin tablet-landcape {
  @media only screen and (min-width: 1024px) and (max-width: 1199px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1200px) and (max-width: 1799px) {
    @content;
  }
}

@mixin big-desktop {
  @media only screen and (min-width: 1800px) {
    @content;
  }
}

// Colors
$blue: rgb(77, 204, 229);
$yellow: rgb(253, 200, 30);
$green: rgb(0, 169, 157);
$red: rgb(232, 89, 46);

$black: rgb(32, 32, 32);
$gray: rgb(111, 114, 135);
$light-gray: rgb(211, 211, 211);

// Default styles
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: auto;
  color: $black;
  line-height: 1.3;
}

h1,
h2,
h3,
p,
a {
  margin-bottom: 25px;
}

h1 {
  font-family: "CircularStd-Bold";
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
  font-family: "CircularStd-Medium";
}

p {
  font-size: 1.5rem;
  line-height: 1.5;
  max-width: 50em;
  font-family: "Zurich-Lt-BT-Light", sans-serif;
}
// smallest texts no less than 1.25rem !

a {
  font-family: "CircularStd-Medium", sans-serif;
  font-size: 1.5rem;
  color: $black;

  // Hover event
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
    outline: none;
  }
}
img {
  width: 100%;
  height: auto;
}

button {
  width: 200px;
  background-color: $black;
  color: white;
  border: none;
  border-radius: 2px;
  font-size: 1.5rem;
  padding: 15px 15px;
  margin: 15px 0;
  &:hover {
    background-color: rgba(32, 32, 32, 0.9);
  }
  &:focus {
    background-color: white;
    border: 2px solid $black;
    color: $black;
    outline: none;
  }
}
